@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario No Autorizado</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #d0e7ff; /* Light blue background */
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 2em;
            color: #333;
        }

        p {
            font-size: 1em;
            color: #666;
        }

        .icon {
            width: 50px;
            height: 50px;
            background-color: #ff4c4c; /* Color rojo para el icono */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px auto;
            position: relative;
        }

            .icon::before {
                content: "!";
                color: white;
                font-size: 30px;
                font-weight: bold;
                position: absolute;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">!</div>
        <h1>Acceso Denegado</h1>
        <p>Usted no tiene los permisos necesarios para acceder a esta aplicación.</p>
        <p>Por favor póngase en contacto con su administrador de sistemas.</p>
        <hr />
        <button asp-controller="Login" asp-action="CerrarSesion">Regresar</button>
    </div>
</body>
</html>
